body {
    background: linear-gradient(135deg, #ff512f, #dd2476);
    min-height: 100vh;
}
.title {
    color: white;
    font-weight: 800;
}
.subtitle {
    color: #ffecec;
}
.preview {
    width: 260px;
    border-radius: 15px;
    border: 4px solid white;
}